#wrapper { width: 400px; margin: 20px auto; }
nav { height: 40px; border-bottom: 1px solid #ccc; font-size: 0;}
nav .nav-item { display: inline-block; width: 33.3333%; font-size: 14px; text-align: center; height: 100%; line-height: 40px; border: 1px solid #ccc; box-sizing: border-box; }
nav .active { background: orange; color: #FFF; }
.content { height: 200px; border: 1px solid blue; }
.content-item { height: 100%; text-align: center; font-size: 50px; display: none; }
.content-item.active { display: block; }
